.App {
  display: flexbox;
  background-color: rgba(226, 226, 223, 0.6);
  text-align: center;
  
}
.NavBar{
  height: 2em;
  background-color: green;
  padding: 1em;
}

.Content{
  background-color: honeydew;
  display: flexbox;
  margin: 2em;
  padding: 1em;
  
}

.LowBar{
  display: flexbox;
  background-color: green;
}
